<div class="card-container">
  <div class="card">
    <img src="{{gem.fullImagePath}}" alt="picture of gem">
    <div class="card-body">
      <h4 class="card-title">{{gem.name}}</h4>
      <p class="card-text">{{gem.price|currency}}</p>
      <app-tabs [gem]="gem"></app-tabs>
      <p class="card-text">Inventory: {{gem.inventory}}</p>      
    </div>
    <button *ngIf="gem.inventory > 0" class="btn btn-default" (click) = "gem.inventory = gem.inventory-1">Add to Cart</button>
    <button *ngIf="gem.inventory <= 0" disabled class="btn btn-danger">Sold Out</button> 
  </div> 
</div>